@import "~src/styles";

.left-menu {
  height: $body-height;
  width: $left-menu-width;
  background-color: red;
  position: fixed;
  z-index: 5;
}

.left-trigger {
  margin-left: $left-menu-width - $trigger-size / 2;
}
