@import '~bootstrap/scss/bootstrap';

$navbar-height: 6vh;
$body-height: 100vh - $navbar-height;
$background-color: #1c1c1c;
$font-color: #f1a9a0;
$left-menu-width: 20vw;
$right-menu-width: 20vw;
$right-menu-position-start: 100vw - $right-menu-width;
$main-width: 100vw - $left-menu-width - $right-menu-width;
$main-position-start: (100vw - $main-width) * 0.5;
$trigger-size: 2vw;
$editor-body-height: $body-height * 0.91;
$editor-header-height: $body-height * 0.08;

@font-face {
  font-family: comfortaa;
  src: url("assets/font/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: comfortaa-bold;
  src: url("assets/font/Comfortaa-Bold.ttf");
}

:root {
  --left-menu-width: 20vw;
  --left-menu-position-start: 0vw;
  --left-menu-position: var(--left-menu-position-start);
  --right-menu-width: 20vw;
  --right-menu-position-start: 100vw - var(--right-menu-width);
  --right-menu-position: var(--right-menu-position-start);
  --main-width: 100vw - var(--left-menu-width) - var(--right-menu-width);
  --main-position: (100vw - var(--main-width)) * 0.5;
}

forall {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'comfortaa', Roboto, "Helvetica Neue", sans-serif;
}

.trigger {
  border-radius: 100%;
  height: $trigger-size;
  width: $trigger-size;
  background: inherit;
  position: fixed;
}

.navbar-custom {
  height: $navbar-height;
  padding: 0.1vh 0.1vw;
}

.navbar-custom img {
  height: $navbar-height;
  width: auto;
}

.logo {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  margin-top: 0;
  line-height: 0;
}

.logo-name {
  color: white;
  font-size: $navbar-height * 0.6;
  line-height: $navbar-height * 0.4;
  vertical-align: middle;
}

.editor {
  height: $body-height;
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
